/*
	inline-rules.css
	Purpose: CSS rules that need to be inlined on the email boilerplate

	Description:
	Various CSS id/class rules that will be inlined during gulp processing
	NOTE: This file requires processing via gulp to build the desired conditional/variable values
*/

body#main-body {
	padding: 0;
	/* @if ENABLE_BODY_IMG_BG='false' */
	background-color: /* @echo BODY_BG_COLOUR */;
	/* @endif */
}

div#hidden-preheader { 
	display: none; 
	overflow: hidden;
	max-height: 0;
	mso-hide: all;
}

/* @if ENABLE_BODY_IMG_BG='true' */
div#body-wrapper {
	background-color: /* @echo BODY_BG_FALLBACK_COLOUR */;
}
/* @endif */

table#/* @echo TABLE_WRAPPER_CSS_ID */ { 
	table-layout: fixed; 
	min-width: 100%;
	width: 100%;
	/* @if ENABLE_BODY_IMG_BG='true' */
	height: 100%;
	/* @endif */
}

table#/* @echo TABLE_WRAPPER_CSS_ID */ td#/* @echo TABLE_WRAPPER_CELL_CSS_ID */ {
	vertical-align: top;
	text-align: /* @echo TABLE_WRAPPER_CELL_ALIGN */;
	/* @if ENABLE_BODY_IMG_BG='false' */
	background-color: /* @echo BODY_BG_COLOUR */;
	/* @endif */
}

table#/* @echo TABLE_CONTAINER_CSS_ID */ {
	/* @if TABLE_CONTAINER_FIXED_WIDTH='true' */
	width: /* @echo TABLE_CONTAINER_WIDTH */px;
	/* @endif */
	/* @if TABLE_CONTAINER_FIXED_WIDTH='false' */
	width: 100%;
	max-width: /* @echo TABLE_CONTAINER_WIDTH */px;
	/* @endif */
}

table#/* @echo TABLE_CONTAINER_CSS_ID */ td#/* @echo TABLE_CONTAINER_CELL_CSS_ID */ {  
	vertical-align: top;
	text-align: /* @echo TABLE_CONTAINER_CELL_ALIGN */;
	background-color: /* @echo TABLE_CONTAINER_CELL_BG_COLOR */;
}

table#gmailapp-android-fix {
	mso-hide: all;
	width: 100%;
}

table#gmailapp-android-fix td {
	line-height: 1px; 
	height: 1px;
	min-width: /* @echo TABLE_CONTAINER_WIDTH */px;
	vertical-align: top;
	text-align: left;
}

table#gmailapp-android-fix img {
	display: block;
	min-width: /* @echo TABLE_CONTAINER_WIDTH */px;
}

div#gmailapp-ios-font-fix {
	white-space: nowrap; 
	font: 15px courier; 
	line-height: 0; 
	mso-hide: all;
}