/*
	mso.reset.css
	Purpose: Defines all Microsoft Office specific reset properties
	Description:

	Microsoft Office specific CSS rules
	NOTE: This file requires processing via gulp to build the minified version
*/

li { 
	text-indent: -1em; 
}

/* @if ENABLE_MSO_FALLBACK_FONT='true' */
body, h1, h2, h3, h4, h5, h6, 
p, a, table, td, span, strong { 
	font-family: /* @echo MSO_DEFAULT_FALLBACK_FONT_STACK */ !important;
}
/* @endif */